<!DOCTYPE html>
<html>
<head>
  <title>Headhunterhunter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Head Hunter Hunter</a>

          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
          </ul>
        </div>
      </div>

    </div>

  <div class="container">
    <%= yield %>
      <footer>
        <p>&copy; Company 2011</p>

      </footer>

    </div> <!-- /container -->

</body>
</html>
